@use "../../global" as *;

.p-nav-sp {
    display: none;
    position: absolute;
    top: var(--header-height);
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    overflow-y: auto;
    width: 100%;
    height: calc(100svh - var(--header-height));
    padding: 50px 90px;
    background-color: #fff;
    opacity: 0;
    transition: all $duration $easing;
    @include lg {
        display: block;
    }
}
.p-nav-sp.is-active {
    visibility: visible;
    opacity: 1;
}
.p-nav-sp__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
}
.p-nav-sp__list-item {
    border-bottom: 1px dashed $clr-gs-300;
}
.p-nav-sp__list-item-link {
    display: block;
    position: relative;
    width: 100%;
    padding: 10px 0;
    font-weight: $fw-medium;
    &:after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 15px;
        aspect-ratio: 1;
        padding-right: 10px;
        background-color: $clr-font;
        mask-image: url("data:image/svg+xml,%3Csvg width='15' height='16' viewBox='0 0 15 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.125 8H11.875' stroke='%23333333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.5 3.625L11.875 8L7.5 12.375' stroke='%23333333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        vertical-align: middle;
    }
}
.p-nav-sp__contact {
    margin-top: 40px;
    text-align: center;
}
.p-nav-sp__contact-btn {
    display: inline-block;
    position: relative;
    padding: 15px 20px;
    border-radius: $br-base;
    background-color: $clr-accent;
    color: $clr-gs-100;
    &:before {
        content: "";
        display: inline-block;
        width: 24px;
        aspect-ratio: 1;
        padding-right: 10px;
        background-color: $clr-gs-100;
        mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 4H20C21.1 4 22 4.9 22 6V18C22 19.1 21.1 20 20 20H4C2.9 20 2 19.1 2 18V6C2 4.9 2.9 4 4 4Z' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M22 6L12 13L2 6' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        background-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        vertical-align: middle;
    }
}
